<%- include('../../layout/header', {title: "Books list"}) %> 
<a href="create" type="button" class="btn btn-primary mt-4">Create new</a>
<% if
(books.length) { %>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">Favorite</th>
      <th scope="col">Has file?</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach((data) => { %>
    <tr class="relative">
      <th scope="row"><%= data.id %></th>
      <td><%= data.title %></td>
      <td><%= data.authors %></td>
      <td><%= data.favorite %></td>
      <td><%= data.fileBook ? 'Yes' : 'No' %></td>
      <td class="text-end">
        <a href="update/<%=data.id%>" type="button" class="btn btn-primary">Edit</a>
        <a href="<%=data.id%>" type="button" class="btn btn-secondary">View</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<p>No books found</p>
<% } %> <%- include('../../layout/footer') %>
