<%-include('../../layout/header', {title: "View"}) %>
<p>
  <strong>Title:</strong>
  <%=book.title%>
</p>
<p>
  <strong>Description:</strong>
  <%=book.description%>
</p>
<p>
  <strong>Authors:</strong>
  <%=book.authors%>
</p>
<p>
  <strong>Favorite:</strong>
  <%=book.favorite%>
</p>
<p>
  <strong>File path:</strong>
  <%=book.fileBook%>
</p>
<p>
  <strong>View count:</strong>
  <%=count%>
</p>
<%-include('../../layout/footer') %>
