<form id="form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      value="<%= book?.title %>"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" rows="3">
<%=book?.description %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Authors</label>
    <input
      type="text"
      class="form-control"
      id="authors"
      value="<%= book?.authors %>"
    />
  </div>
  <% if (!book) { %>
  <div class="mb-3">
    <label for="formFile" class="form-label">File book</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
  <% } %>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  document.forms.form.addEventListener("submit", (e) => {
    e.preventDefault();
    const title = document.querySelector("#title").value;
    const authors = document.querySelector("#authors").value;
    const description = document.querySelector("#description").value;
    const fileBook = document.querySelector("#formFile")?.value;
    const data = {
      title,
      description,
      fileBook,
      authors,
    };
    const formData = new FormData();
    for (const name in data) {
      formData.append(name, data[name]);
    }
    fetch("<%=process.env.API_URL%>/books<%= book ? `/${book.id}` : '' %>", {
      method: "<%= book ? `put` : 'post' %>",
      body: formData,
    })
      .then((res) => {
        if (res.status >= 400) {
          throw new Error(res.statusText);
        }
        //window.location.href = "/"
      })
      .catch((data) => console.error(data));
  });
</script>
